.container{
    width: 100%;
    display: grid;
    grid-template-areas:
    "titulo titulo titulo titulo"
    "botao botao botao botao"
    "subtitulo1 subtitulo1 subtitulo1 subtitulo1"
    "a1 a2 a3 a4";
   /* column-gap: 10px; */
    text-align: center;

}

:root {
    --text-color: white; 
    --switch-bg-url: url(./background/modoescuro.png);
    --background-color: black;
}

.light {
    --text-color: black;
    --switch-bg-url:  url(./background/modoclaro.png);
    --background-color: white;
}

body {
    background: var(--background-color);
}

body *{
    color: var(--text-color);
}

body *,
a {
    text-decoration: none !important;
}


#titulo{
    grid-area: titulo;
    font-family: 'Merriweather', serif;
    font-size: 50px;
}

#botao{
    grid-area: botao;
    background-color: rgba(214, 214, 214);
    position: relative;
    width: 64px;
    margin: 4px auto;
    border-radius: 999px;
}

#botao button{
    width: 32px;
    height: 32px;
    background: white no-repeat center;
    background-image: var(--switch-bg-url);
    background-size: 27px 27px;
    border: 0;
    border-radius: 50%;

    position: absolute;
    top: 50%;

    left: 0;
    z-index: 1;
    transform: translateY(-50%);
}

.light #botao button {
    right: 0;
    left: initial;
}

#botao span {
    display: block;
    width: 64px;
    height: 24px;
    border-radius: 9999px;
}

.box-subtitulo{
    margin-top: 100px;
}

#subtitulo1{
    grid-area: subtitulo1;
    font-family: 'Lora', serif;
    font-size: 25px;
}

#packers{
    grid-area: a1;
    margin-bottom: 100px;
}

#lions{
    grid-area: a2;
    margin-bottom: 100px;
}

#vikings{
    grid-area: a3;
    margin-bottom: 100px;
}

#bears{
    grid-area: a4;
    margin-bottom: 100px;
}

.boxnorth{
    border: 1px solid rgba(214, 214, 214);
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    width: 500px;
    height: 714px;
    border-radius: 9px;
}

.boxnorth img{
    position: relative;
    width: 180px;
    height: 180px;
    margin-top: 25px;
}

#logos{
    pointer-events: none;
    user-select: none;
}

.nometime {
    font-family: 'Cardo', serif;
    font-size: large;
}

.boxcaracteristicas {
    position: absolute;
    border: 1px solid blue;
    width: 500px;
    margin-bottom: 0%;
    border-radius: 9px;

}

.boxlocal {
    border: 1px solid green;
    border-radius: 9px;
    position: relative;
}

.boxlocal img{
    width: 25px;
    height: 25px;
    display: block;
    left: 7px !important;
    top: -10px !important;

}

.boxestadio {
    border: 1px solid purple;
    border-radius: 9px;
    position: relative;
}

.boxestadio img{
    width: 25px;
    height: 25px;
    display: block;
    left: 7px !important;
    top: -10px !important;

}

.boxsuperbowl {
    border: 1px solid yellow;
    border-radius: 9px;
    position: relative;
}

.boxsuperbowl img{
    width: 25px;
    height: 25px;
    display: block;
    left: 7px !important;
    top: -10px !important;

}

.boxtwitter {
    border: 1px solid red;
    border-radius: 9px;
    position: relative;
}

.boxtwitter img{
    width: 25px;
    height: 25px;
    display: block;
    left: 7px !important;
    top: -10px !important;

}

.boxinsta {
    border: 1px solid gold;
    border-radius: 9px;
    position: relative;
}

.boxinsta img{
    width: 35px;
    height: 35px;
    display: block;
    left: 2px !important;
    top: -10px !important;

}

.boxjogador {
    border: 1px solid royalblue;
    border-radius: 9px;
    position: relative;
}

.boxjogador img{
    width: 25px;
    height: 25px;
    display: block;
    left: 7px !important;
    top: -10px !important;

}

.boxtecnico {
    border: 1px solid purple;
    border-radius: 9px;
    position: relative;
}

.boxtecnico img{
    width: 30px;
    height: 30px;
    display: block;
    left: 7px !important;
    top: -10px !important;

}

.boxtorcedores {
    border: 1px solid springgreen;
    border-radius: 9px;
    position: relative;
}

.boxtorcedores img{
    width: 25px;
    height: 25px;
    display: block;
    left: 7px !important;
    top: -10px !important;

}