.container{
    border: 1px solid blueviolet;
    width: 100%;
    display: grid;
    grid-template-areas:
    "titulo titulo"
    "subtitulo subtitulo"
    "b1 b2";
    column-gap: 10px;
    text-align: center;

}

#box-1{
    grid-area: b1;
    background-color: #062C63;
    opacity: 1;
    transition: opacity 0.5s ease;
    height: 500px;
    margin-bottom: 100px;
}

#box-1:hover{
    opacity: 0.5;
}

#box-2{
    grid-area: b2;
    background-color: #D00C27;
    opacity: 1;
    transition: opacity 0.5s ease;
    height: 500px;
    margin-bottom: 100px;
}

#box-2:hover{
    opacity: 0.5;
}

#titulo{
    grid-area: titulo;
}

#subtitulo{
    grid-area: subtitulo;
}

.box{
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-right: 200px;
    margin-left: 200px;
    overflow: hidden;
}

.box img{
    width: 80%;
    height: auto;
    margin-top: 25px;
    object-fit: cover;
}

.box-titulo{
    background-color: brown;
}

.box-subtitulo{
    background-color: coral;
    margin-top: 300px;
}